/* ===============     reset styles      ========== */
@import url(./reset.css);


/* ===============      fonts     ========== */
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,600italic);

body {
   font-family: 'Poppins', sans-serif;
   font-size: 18px;
}

[class*="__container"] {
   max-width: 89.8%;
   margin: 0 auto;
}
/* =========== CONTAINER MEDIA =============== */
@media (max-width: 767.98px) {
   [class*="__container"] {
      max-width: none;
      padding: 0 15px;
   }
}

/* ===============================================
====                 HEADER                   ====
=============================================== */

.header {
   position: relative;
   width: 100%;
   height: 100vh;
}

/* ===============     Slider      ============= */


.slider-header__items {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   z-index: -1;
}
.slider-header__item {
   width: 100%;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   min-height: 100vh;
}

.slick-list {
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   width: 100%;
   height: 100vh;
}
.slick-track {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
}

.slide {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.slide.slick-slide {
   min-height: 100vh;
}

.slick-dots {
   position: absolute;
   bottom: 60px;
   left: 48%;
   margin: 10px 0;
   padding: 0;
   text-align: center;
}
.slick-dots li {
   display: inline-block;
   width: 10px;
   height: 10px;
   background-color: #FADCD9;
   opacity: .5;
   transition: all .2s ease;
   margin: 0 5px;
   border-radius: 50%;
}
.slick-dots .slick-active {
   background-color: #F79489;
}

/* ===============     NAV      ================ */

.header__nav {
   padding-top: 50px;
   display: flex;
   justify-content: space-between;
}
.header__logo {
   display: inline-block;
   position: relative;
   z-index: 4;
}
.nav-header__list {
   display: flex;
}
.list-header__item {
   position: relative;
   margin-right: 60px;
}
.list-header__item:hover .list-header__sub-list {
   display: block;
}
.item-dropdown::after {
   content: '';
   border: solid rgb(255, 255, 255);
   border-width: 0 1px 1px 0;
   display: inline-block;
   padding: 3px   ;
   position: absolute;
   top: 12px;
   right: -15px;
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
   transition: all 0.3s ease 0s;
}
.item-dropdown:hover::after {
   border-color: #F79489;
   top: 9px;
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
}
.list-header__item a {
   color: #fff;
   font-size: 18px;
   line-height: 27px;
   transition: all 0.3s ease 0s;
}
.list-header__item a:hover { 
   color: #F79489;
}
.list-header__sub-list {
   display: none;
   position: absolute;
   top: 20px;
   left: 0;
}
.header__cart {
   position: relative;
   z-index: 4;
   display: inline-block;
   transform: scale(1);
   transition: all 0.3s ease 0s;
}
.header__cart:hover { 
   transform: scale(1.2);
}
/* ===============     Burger      ========== */

.nav-header__icon {
   display: none;
}

/* =============     BANNER      ============ */

.header__content {
   display: flex;
   padding-top: 100px;
   flex-direction: column;
   text-align: center;
   color: #fff;
   max-width: 580px;
   margin: 0 auto;
}
.content-header__title {
   font-weight: 600;
   font-size: 48px;
   line-height: 72px;
   padding-bottom: 30px;
}
.content-header__sub-title {
   font-weight: 400;
   font-size: 18px;
   line-height: 200%;
   padding-bottom: 70px;
}

.content-header__search {
   display: flex;
   justify-content: space-between;
   width: 360px;
   height: 60px;
   margin: 0 auto;
   background: rgba(255, 255, 255, 0.5);
   border: 1px solid #FFFFFF;
   border-radius: 30px;
   position: relative;
}
.content-header__search-form {
   padding: 16px 19px;
}
::placeholder {
   color: rgb(255, 255, 255);
}
.content-header__search-button {
   width: 38px;
   height: 38px;
   border-radius: 50%;
   background: #FAF5F2;
   position: absolute;
   top: 11px;
   right: 11px;
}
.content-header__search-button i {
   color: #A09386;
}

/* ===============     Header media      ========== */

@media (max-width: 1199.98px){
   .slick-dots {
      position: absolute;
      bottom: 10px;
   }
}

@media (max-width: 991.98px){
   .list-header__item {
      margin-right: 40px;
   }
   .header__nav {
      padding-top: 25px;
   }
   .list-header__item a {
      font-size: 16px;
   }
   .header__content {
      padding-top: 100px;
      max-width: 480px;
   }
   .content-header__title {
      font-size: 32px;
      line-height: 1.2;
      padding-bottom: 30px;
   }
   .content-header__sub-title {
      font-size: 16px;
      line-height: 200%;
      padding-bottom: 40px;
   }
   .content-header__search {
      width: 300px;
      height: 40px;
      border-radius: 20px;
   }
   .content-header__search-button {
      width: 30px;
      height: 30px;
      top: 4px;
      right: 6px;
   }
}
@media (max-width: 767.98px){
   .nav-header__icon {
      display: block;
      position: absolute;
      top: 30px;
      right: 15px;
      z-index: 5;
      width: 30px;
      height: 18px;
      cursor: pointer;
   }
   .nav-header__icon::before,
   .nav-header__icon::after {
      content: '';
   }
   .nav-header__icon span,
   .nav-header__icon::before,
   .nav-header__icon::after {
      position: absolute;
      left: 0;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: #fff;
   }
   .nav-header__icon::before {
      top: 0;
   }
   .nav-header__icon::after {
      bottom: 0;
   }
   .nav-header__icon span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
   }
   .list-header {
      position: fixed;
      top: 0;
      left: -100%;
      z-index: 3;
      width: 100%;
      height: 100%;
      background-color: #F79489;
      padding: 100px 30px 30px 30px;
      transition: left 0.3s ease 0s;
      flex-direction: column;
      text-align: center;
      overflow: auto;
   }
   .list-header._active {
      left: 0;
   }
   .list-header > li {
      flex-wrap: wrap;
      margin-bottom: 30px;
   }
   .list-header > li:last-child {
      margin-bottom: 0;
   }
   .list-header__item a {
      font-size: 24px;
   }
   .list-header__sub-list {
      position: relative;
      background-color: #FADCD9;
      flex: 1 1 100%;
      margin-top: 20px;
   }
   .list-header__sub-list a {
      color: #F79489;
      font-size: 20px;
   }
   .header__nav::before {
      content: '';
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 70px;
      z-index: 4;
   }
   .header__cart {
      right: 50px;
   }
}

@media (max-width: 684.98px) {
   
}

@media (max-width: 479.98px){}